In [1]:
#libraries
import requests
from bs4 import BeautifulSoup

In [2]:
URL = 'https://www.mohfw.gov.in'
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")

In [3]:
thead = soup.find_all('thead')[-1]
#thead = soup.find_all('thead')[-1]

In [4]:
print(thead)

<thead>
<tr>
<th><strong>S. No.</strong></th>
<th><strong>Name of State / UT</strong></th>
<th><strong>Total Confirmed cases (Including 77 foreign Nationals) </strong></th>
<th><strong>Cured/Discharged/<br/>Migrated</strong></th>
<th><strong>Death</strong></th>
</tr>
</thead>

In [5]:
type(thead)

bs4.element.Tag

In [6]:
heading = [x for x in thead.find_all('tr')]

In [7]:
print(heading)

[<tr>
<th><strong>S. No.</strong></th>
<th><strong>Name of State / UT</strong></th>
<th><strong>Total Confirmed cases (Including 77 foreign Nationals) </strong></th>
<th><strong>Cured/Discharged/<br/>Migrated</strong></th>
<th><strong>Death</strong></th>
</tr>]

In [8]:
head = thead.find_all('tr')

In [9]:
print(head)

[<tr>
<th><strong>S. No.</strong></th>
<th><strong>Name of State / UT</strong></th>
<th><strong>Total Confirmed cases (Including 77 foreign Nationals) </strong></th>
<th><strong>Cured/Discharged/<br/>Migrated</strong></th>
<th><strong>Death</strong></th>
</tr>]

In [10]:
tbody = soup.find_all('tbody')[-1]
body = tbody.find_all('tr')

In [11]:
print(body)

[<tr>
<td>1</td>
<td>Andaman and Nicobar Islands</td>
<td>16</td>
<td>11</td>
<td>0</td>
</tr>, <tr>
<td>2</td>
<td>Andhra Pradesh</td>
<td>722</td>
<td>92</td>
<td>20</td>
</tr>, <tr>
<td>3</td>
<td>Arunachal Pradesh</td>
<td>1</td>
<td>0</td>
<td>0</td>
</tr>, <tr>
<td>4</td>
<td>Assam</td>
<td>35</td>
<td>19</td>
<td>1</td>
</tr>, <tr>
<td>5</td>
<td>Bihar</td>
<td>113</td>
<td>42</td>
<td>2</td>
</tr>, <tr>
<td>6</td>
<td>Chandigarh</td>
<td>26</td>
<td>13</td>
<td>0</td>
</tr>, <tr>
<td>7</td>
<td>Chhattisgarh</td>
<td>36</td>
<td>25</td>
<td>0</td>
</tr>, <tr>
<td>8</td>
<td>Delhi</td>
<td>2081</td>
<td>431</td>
<td>47</td>
</tr>, <tr>
<td>9</td>
<td>Goa</td>
<td>7</td>
<td>7</td>
<td>0</td>
</tr>, <tr>
<td>10</td>
<td>Gujarat</td>
<td>1939</td>
<td>131</td>
<td>71</td>
</tr>, <tr>
<td>11</td>
<td>Haryana</td>
<td>254</td>
<td>127</td>
<td>3</td>
</tr>, <tr>
<td>12</td>
<td>Himachal Pradesh</td>
<td>39</td>
<td>16</td>
<td>1</td>
</tr>, <tr>
<td>13</td>
<td>Jammu and Kashmir</td>
<td>368</td>
<td>71</td>
<td>5</td>
</tr>, <tr>
<td>14</td>
<td>Jharkhand</td>
<td>46</td>
<td>0</td>
<td>2</td>
</tr>, <tr>
<td>15</td>
<td>Karnataka</td>
<td>408</td>
<td>112</td>
<td>16</td>
</tr>, <tr>
<td>16</td>
<td>Kerala</td>
<td>408</td>
<td>291</td>
<td>3</td>
</tr>, <tr>
<td>17</td>
<td>Ladakh</td>
<td>18</td>
<td>14</td>
<td>0</td>
</tr>, <tr>
<td>18</td>
<td>Madhya Pradesh</td>
<td>1485</td>
<td>127</td>
<td>74</td>
</tr>, <tr>
<td>19</td>
<td>Maharashtra</td>
<td>4666</td>
<td>572</td>
<td>232</td>
</tr>, <tr>
<td>20</td>
<td>Manipur</td>
<td>2</td>
<td>2</td>
<td>0</td>
</tr>, <tr>
<td>21</td>
<td>Meghalaya</td>
<td>11</td>
<td>0</td>
<td>1</td>
</tr>, <tr>
<td>22</td>
<td>Mizoram</td>
<td>1</td>
<td>0</td>
<td>0</td>
</tr>, <tr>
<td>23</td>
<td>Nagaland</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>, <tr>
<td>24</td>
<td>Odisha</td>
<td>74</td>
<td>24</td>
<td>1</td>
</tr>, <tr>
<td>25</td>
<td>Puducherry</td>
<td>7</td>
<td>3</td>
<td>0</td>
</tr>, <tr>
<td>26</td>
<td>Punjab</td>
<td>245</td>
<td>38</td>
<td>16</td>
</tr>, <tr>
<td>27</td>
<td>Rajasthan</td>
<td>1576</td>
<td>205</td>
<td>25</td>
</tr>, <tr>
<td>28</td>
<td>Tamil Nadu</td>
<td>1520</td>
<td>457</td>
<td>17</td>
</tr>, <tr>
<td>29</td>
<td>Telengana</td>
<td>873</td>
<td>190</td>
<td>23</td>
</tr>, <tr>
<td>30</td>
<td>Tripura</td>
<td>2</td>
<td>1</td>
<td>0</td>
</tr>, <tr>
<td>31</td>
<td>Uttarakhand</td>
<td>46</td>
<td>18</td>
<td>0</td>
</tr>, <tr>
<td>32</td>
<td>Uttar Pradesh</td>
<td>1184</td>
<td>140</td>
<td>18</td>
</tr>, <tr>
<td>32</td>
<td>West Bengal</td>
<td>392</td>
<td>73</td>
<td>12</td>
</tr>, <tr>
<td colspan="2"><strong><span>Total number of confirmed cases in India</span></strong></td>
<td align="center" style="text-align:center;"><strong>18601*</strong></td>
<td>
<strong>3252</strong>
</td>
<td>
<strong>590</strong>
</td>
</tr>, <tr>
<td align="center" colspan="5" style="text-align:center;"><strong>*Our figures are being reconciled with ICMR</strong></td>
</tr>]

In [12]:
headings=[]
for tr in head:
    th = tr.find_all(['th'])
    row = [i.text for i in th]
    headings.append(row)

headings

[['S. No.',
  'Name of State / UT',
  'Total Confirmed cases (Including 77 foreign Nationals) ',
  'Cured/Discharged/Migrated',
  'Death']]

In [13]:
body_data = []
for tr in body:
    td = tr.find_all(['td'])
    row = [i.text for i in td]
    body_data.append(row)
    
body_data

[['1', 'Andaman and Nicobar Islands', '16', '11', '0'],
 ['2', 'Andhra Pradesh', '722', '92', '20'],
 ['3', 'Arunachal Pradesh', '1', '0', '0'],
 ['4', 'Assam', '35', '19', '1'],
 ['5', 'Bihar', '113', '42', '2'],
 ['6', 'Chandigarh', '26', '13', '0'],
 ['7', 'Chhattisgarh', '36', '25', '0'],
 ['8', 'Delhi', '2081', '431', '47'],
 ['9', 'Goa', '7', '7', '0'],
 ['10', 'Gujarat', '1939', '131', '71'],
 ['11', 'Haryana', '254', '127', '3'],
 ['12', 'Himachal Pradesh', '39', '16', '1'],
 ['13', 'Jammu and Kashmir', '368', '71', '5'],
 ['14', 'Jharkhand', '46', '0', '2'],
 ['15', 'Karnataka', '408', '112', '16'],
 ['16', 'Kerala', '408', '291', '3'],
 ['17', 'Ladakh', '18', '14', '0'],
 ['18', 'Madhya Pradesh', '1485', '127', '74'],
 ['19', 'Maharashtra', '4666', '572', '232'],
 ['20', 'Manipur', '2', '2', '0'],
 ['21', 'Meghalaya', '11', '0', '1'],
 ['22', 'Mizoram', '1', '0', '0'],
 ['23', 'Nagaland', '0', '0', '0'],
 ['24', 'Odisha', '74', '24', '1'],
 ['25', 'Puducherry', '7', '3', '0'],
 ['26', 'Punjab', '245', '38', '16'],
 ['27', 'Rajasthan', '1576', '205', '25'],
 ['28', 'Tamil Nadu', '1520', '457', '17'],
 ['29', 'Telengana', '873', '190', '23'],
 ['30', 'Tripura', '2', '1', '0'],
 ['31', 'Uttarakhand', '46', '18', '0'],
 ['32', 'Uttar Pradesh', '1184', '140', '18'],
 ['32', 'West Bengal', '392', '73', '12'],
 ['Total number of confirmed cases in India', '18601*', '\n3252\n', '\n590\n'],
 ['*Our figures are being reconciled with ICMR']]

In [14]:
type(body_data)

list

In [15]:
import pandas as pd

In [16]:
data= pd.DataFrame(body_data[:-2], columns=headings[0])

In [17]:
data = data.drop('S. No.', axis=1)

In [18]:
data

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death
0,Andaman and Nicobar Islands,16,11,0
1,Andhra Pradesh,722,92,20
2,Arunachal Pradesh,1,0,0
3,Assam,35,19,1
4,Bihar,113,42,2
5,Chandigarh,26,13,0
6,Chhattisgarh,36,25,0
7,Delhi,2081,431,47
8,Goa,7,7,0
9,Gujarat,1939,131,71
10,Haryana,254,127,3
11,Himachal Pradesh,39,16,1
12,Jammu and Kashmir,368,71,5
13,Jharkhand,46,0,2
14,Karnataka,408,112,16
15,Kerala,408,291,3
16,Ladakh,18,14,0
17,Madhya Pradesh,1485,127,74
18,Maharashtra,4666,572,232
19,Manipur,2,2,0
20,Meghalaya,11,0,1
21,Mizoram,1,0,0
22,Nagaland,0,0,0
23,Odisha,74,24,1
24,Puducherry,7,3,0
25,Punjab,245,38,16
26,Rajasthan,1576,205,25
27,Tamil Nadu,1520,457,17
28,Telengana,873,190,23
29,Tripura,2,1,0
30,Uttarakhand,46,18,0
31,Uttar Pradesh,1184,140,18
32,West Bengal,392,73,12

In [19]:

# libraries

from datetime import datetime

In [20]:
now  = datetime.now()
data['Date'] = now.strftime("%m/%d/%Y") 
data['Date'] = pd.to_datetime(data['Date'], format='%m/%d/%Y')
data['Name of State / UT'] = data['Name of State / UT'].str.replace('#', '')
data.head()

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death,Date
0,Andaman and Nicobar Islands,16,11,0,2020-04-21
1,Andhra Pradesh,722,92,20,2020-04-21
2,Arunachal Pradesh,1,0,0,2020-04-21
3,Assam,35,19,1,2020-04-21
4,Bihar,113,42,2,2020-04-21

In [21]:
lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670}

long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662}

data['Latitude'] = data['Name of State / UT'].map(lat)
data['Longitude'] = data['Name of State / UT'].map(long)

In [22]:
data

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,16,11,0,2020-04-21,11.7401,92.6586
1,Andhra Pradesh,722,92,20,2020-04-21,15.9129,79.7400
2,Arunachal Pradesh,1,0,0,2020-04-21,28.2180,94.7278
3,Assam,35,19,1,2020-04-21,26.2006,92.9376
4,Bihar,113,42,2,2020-04-21,25.0961,85.3131
5,Chandigarh,26,13,0,2020-04-21,30.7333,76.7794
6,Chhattisgarh,36,25,0,2020-04-21,21.2787,81.8661
7,Delhi,2081,431,47,2020-04-21,28.7041,77.1025
8,Goa,7,7,0,2020-04-21,15.2993,74.1240
9,Gujarat,1939,131,71,2020-04-21,22.2587,71.1924
10,Haryana,254,127,3,2020-04-21,29.0588,76.0856
11,Himachal Pradesh,39,16,1,2020-04-21,31.1048,77.1734
12,Jammu and Kashmir,368,71,5,2020-04-21,33.7782,76.5762
13,Jharkhand,46,0,2,2020-04-21,23.6102,85.2799
14,Karnataka,408,112,16,2020-04-21,15.3173,75.7139
15,Kerala,408,291,3,2020-04-21,10.8505,76.2711
16,Ladakh,18,14,0,2020-04-21,34.2996,78.2932
17,Madhya Pradesh,1485,127,74,2020-04-21,22.9734,78.6569
18,Maharashtra,4666,572,232,2020-04-21,19.7515,75.7139
19,Manipur,2,2,0,2020-04-21,24.6637,93.9063
20,Meghalaya,11,0,1,2020-04-21,25.4670,91.3662
21,Mizoram,1,0,0,2020-04-21,23.1645,92.9376
22,Nagaland,0,0,0,2020-04-21,26.1584,94.5624
23,Odisha,74,24,1,2020-04-21,20.9517,85.0985
24,Puducherry,7,3,0,2020-04-21,11.9416,79.8083
25,Punjab,245,38,16,2020-04-21,31.1471,75.3412
26,Rajasthan,1576,205,25,2020-04-21,27.0238,74.2179
27,Tamil Nadu,1520,457,17,2020-04-21,11.1271,78.6569
28,Telengana,873,190,23,2020-04-21,18.1124,79.0193
29,Tripura,2,1,0,2020-04-21,23.9408,91.9882
30,Uttarakhand,46,18,0,2020-04-21,30.0668,79.0193
31,Uttar Pradesh,1184,140,18,2020-04-21,26.8467,80.9462
32,West Bengal,392,73,12,2020-04-21,22.9868,87.8550

In [23]:
data.columns

Index(['Name of State / UT',
       'Total Confirmed cases (Including 77 foreign Nationals) ',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

In [24]:
data.isna().sum()

Name of State / UT                                         0
Total Confirmed cases (Including 77 foreign Nationals)     0
Cured/Discharged/Migrated                                  0
Death                                                      0
Date                                                       0
Latitude                                                   0
Longitude                                                  0
dtype: int64

In [25]:
file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = './.day_Data/'
data.to_csv(file_loc + file_name, index=False)

In [26]:
data.columns

Index(['Name of State / UT',
       'Total Confirmed cases (Including 77 foreign Nationals) ',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

In [27]:
loc = './.day_data/'

In [28]:
import glob
files = glob.glob(loc+'*.csv')

In [29]:
import os
import re

new_datas = []

for i in files:
    df_temp = pd.read_csv(i)
    df_temp = df_temp.rename(columns={'Name of State / UT':'States'})
    df_temp = df_temp.rename(columns={'Total Confirmed cases':'Cases'})
    df_temp = df_temp.rename(columns={'Cured/Discharged/Migrated':'Cured'})
    df_temp = df_temp.rename(columns={'Deaths':'Deaths'})
    df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .. foreign Nationals\) ',
                                                      'Total Confirmed cases',x))
    new_datas.append(df_temp)

In [30]:
complete_data = pd.concat(new_datas, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
complete_data['Date'] = pd.to_datetime(complete_data['Date'])
complete_data = complete_data.sort_values(['Date', 'States']).reset_index(drop=True)

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged/Migrated', 'Death']

# complete_data['Death'] = complete_data['Death'].str.extract('(\d+)')
#complete_data[cols] = complete_data[cols].fillna(0).astype('int')

In [31]:
complete_data

,Name of State / UT,Total Confirmed cases,Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,16,11,0,2020-04-21,11.7401,92.6586
1,Andhra Pradesh,722,92,20,2020-04-21,15.9129,79.7400
2,Arunachal Pradesh,1,0,0,2020-04-21,28.2180,94.7278
3,Assam,35,19,1,2020-04-21,26.2006,92.9376
4,Bihar,113,42,2,2020-04-21,25.0961,85.3131
5,Chandigarh,26,13,0,2020-04-21,30.7333,76.7794
6,Chhattisgarh,36,25,0,2020-04-21,21.2787,81.8661
7,Delhi,2081,431,47,2020-04-21,28.7041,77.1025
8,Goa,7,7,0,2020-04-21,15.2993,74.1240
9,Gujarat,1939,131,71,2020-04-21,22.2587,71.1924
10,Haryana,254,127,3,2020-04-21,29.0588,76.0856
11,Himachal Pradesh,39,16,1,2020-04-21,31.1048,77.1734
12,Jammu and Kashmir,368,71,5,2020-04-21,33.7782,76.5762
13,Jharkhand,46,0,2,2020-04-21,23.6102,85.2799
14,Karnataka,408,112,16,2020-04-21,15.3173,75.7139
15,Kerala,408,291,3,2020-04-21,10.8505,76.2711
16,Ladakh,18,14,0,2020-04-21,34.2996,78.2932
17,Madhya Pradesh,1485,127,74,2020-04-21,22.9734,78.6569
18,Maharashtra,4666,572,232,2020-04-21,19.7515,75.7139
19,Manipur,2,2,0,2020-04-21,24.6637,93.9063
20,Meghalaya,11,0,1,2020-04-21,25.4670,91.3662
21,Mizoram,1,0,0,2020-04-21,23.1645,92.9376
22,Nagaland,0,0,0,2020-04-21,26.1584,94.5624
23,Odisha,74,24,1,2020-04-21,20.9517,85.0985
24,Puducherry,7,3,0,2020-04-21,11.9416,79.8083
25,Punjab,245,38,16,2020-04-21,31.1471,75.3412
26,Rajasthan,1576,205,25,2020-04-21,27.0238,74.2179
27,Tamil Nadu,1520,457,17,2020-04-21,11.1271,78.6569
28,Telengana,873,190,23,2020-04-21,18.1124,79.0193
29,Tripura,2,1,0,2020-04-21,23.9408,91.9882
30,Uttar Pradesh,1184,140,18,2020-04-21,26.8467,80.9462
31,Uttarakhand,46,18,0,2020-04-21,30.0668,79.0193
32,West Bengal,392,73,12,2020-04-21,22.9868,87.8550

In [32]:
complete_data.columns

Index(['Name of State / UT', 'Total Confirmed cases',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

In [33]:
complete_data['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telengana', 'Tripura',
       'Uttar Pradesh', 'Uttarakhand', 'West Bengal'], dtype=object)

In [34]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
Name of State / UT           33 non-null object
Total Confirmed cases        33 non-null int64
Cured/Discharged/Migrated    33 non-null int64
Death                        33 non-null int64
Date                         33 non-null datetime64[ns]
Latitude                     33 non-null float64
Longitude                    33 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 1.9+ KB

In [35]:
complete_data.to_csv('complete.csv', index=False)